<%- include('header-alt') -%>

<!-- Creating feed window and content structure. -Coby -->
<section id="main-signup">
  <section id="feed-header">
      <h1 id="feedTitle">Your Feed</h1>
      <button id= "feedButton" ><a href="/profile">Go To My Profile</a></button></a>
  </section>
</section>

<section class="feed-container">
    <ul class="feed-children">
      <% for(let i = 0; i < posts.length; i++) { %>
        <li class="postItem">
          <a href="/post/<%= posts[i]._id%>">
          <img src="<%= posts[i].image%>" id="feedImg"></a>
        </li>
      <% } %>
    </ul>

</section>

<%- include('footer') -%>