
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pet's Media!</title>
    <script src="https://kit.fontawesome.com/5057e8ccf8.js" crossorigin="anonymous"></script>
      <!-- font awesome icons were taking forever to load and I think it's because the code is in the footer and not the head, so i moved it up here (now it's in both places..) -cc -->

    <link type="text/css" href="/css/style.css" rel="stylesheet"  />
  </head>
  <div class="flexheader">
  
  <!-- Made entire name/logo ahref for easier home click. -Coby -->
  <h1 id="logo">p<a href="/feed"><i class="fas fa-paw fa-sm header-logo"></i></a>wstagram</h1>
<button id="dark-mode-toggle" class="dark-mode-toggle">
 <!-- <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg> -->
 
</button>
    <% if(typeof user === "undefined"){ %>
      <a href="/login"><button id="logo">log in</button></a>

    <% }else{ %>
      <a href="/login"><button id="logo">log out</button></a>
    <% } %>
  </div>