<%- include('header') -%>
<main id="main-signup">
<section class="flex signup">
  <label>Username</label>
  <input type="text"/>
  <label>Email Address</label>
  <input type="text"/>
  <label>Password</label>
  <input type="password"/>
  <label>Confirm Password</label>
  <input type="password"/>
  <button>CREATE ACCOUNT</button>
</section>
</main>
<%- include('footer') -%>